.gridContainer {
  width: 100%;
}

.grid {
  margin-top: 2em;
  display: grid;
      grid-template-columns: 20% 27.5% 5% 27.5% 20%;
      grid-template-rows: 15em 3em 30em auto;
      grid-auto-flow: row;
      grid-auto-rows: auto;
}

.strip {
  background-color: black;
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
  z-index: 1;

}

.stripImage{
  background-color: black;
   grid-column: 3 / span 2;
  grid-row: 1 / span 2;
  z-index: 10;
  height:20em;
}

.stripText{
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  color: white;
  z-index: 10;
  font-size: 1.1em;
  padding: 1em 2em;
  /* text-align: center; */
  max-height: 11em;
    line-height: 1.6em;
}

.stripText h3 {
  font-size: 1.6em;
  text-align: center;
}

.panelImage{
  grid-column: 2 / span 2;
  grid-row: 2/ span 2;
  z-index: 20;
  background-image: url('../../images/portrait.jpg');
  background-size: cover;
  background-position: center;

}



.panelContent{
   grid-column: 2 / span 2;
  grid-row: 4/ span 1;
  font-size: 1em;
}

.borderContent{
   grid-column: 4 / span 1;
   grid-row: 3/ span 2;
   display: flex;
   align-items: center;
}

.borderContentBox{
  margin: 2em 1em;
  display: flex;
  align-items: center;
  padding: 3em 1em;
  font-size: 1.1em;
  /* border: 5px solid black; */
  /* border-radius: 2em; */
  /* font-style: italic; */
  color: white;
  line-height: 1.6em;
  background-color: black;
  margin-right: 0;

}



.imagesFlex1 {
  display: flex;
  position: block;
  margin-top: 2em;
  justify-content: flex-start;
  width: 100%;
  grid-row: 5 / span 1;
    grid-column: 2 / span 4;
}

.imagesFlex2 {
  display: flex;
  position: block;
  margin-top: 0;
  justify-content: flex-end;
  width: 100%;
  grid-row: 6 / span 1;
    grid-column: 1 / span 4;
}

.imagesFlex3 {
  display: flex;
  position: block;
  margin: 1em auto;
  margin-top: 0;
  justify-content: flex-start;
  width: 100%;
  grid-row: 7 / span 1;
    grid-column: 2 / span 4;
}

.imageContainer {
  width: 25em;
  margin-right: 1em;
}

.imageContainer:hover {
  filter: brightness(1.1);
}

.imageContainer img {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: block;
}



@media only screen and (max-width: 780px) {
  .grid {
    margin-top: 0;
    display: grid;
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 12em auto;
        grid-auto-rows: auto;
  }

  .strip {
    background-color: black;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    z-index: 1;

  }

  .stripText{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    color: white;
    padding: 1em 0;
    text-align: center;
  }

  .stripImage{
     grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    height:auto;
  }


  .panelContent{
     grid-column: 2 / span 1;
  }

  .panelImage{
    grid-column: 1 / span 3;
        grid-row: 3 / span 1;
        background-position: center top;
        height: 20em;
    }


  .borderContent{
     grid-column: 2 / span 1;
     grid-row: 4/ span 1;
     margin: 1em;
  }

  .borderContentBox {
    margin: 1em;
  }


  .imagesFlex1, .imagesFlex2, .imagesFlex3 {
    margin: 0;
    grid-column: 1 / span 5;
    flex-wrap: wrap;
  }


  .imageContainer {
    width: 100%;
    flex-wrap: wrap;
    margin-right: 0;
  }


}
