.buttonContainer {
  display: flex;
  justify-content: center;
  height: auto;
  align-items: center;
}

a.button{
  color: red;
      border: 3px solid red;
      /* padding: 0.5em; */
      margin: 2em;
      font-size: 1.5em;
      width: 8em;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      height: auto;
      display: flex;
      height: 2em;
      justify-content: center;
      align-items: center;
}

a.button:hover{
  background-color: red;
  color: black;
}

@media only screen and (max-width: 780px){
 .buttonContainer{
   flex-wrap: wrap;
 }

 a.button {
    margin: 0.5em;
    font-size: 1.2em;
}
}
