
.stripGrid {
  display: grid;
  margin-top: 2em;
  height: auto;
  grid-template-columns: 20% 27.5% 5% 27.5% 20%;
  grid-template-rows: 15em 2em auto;
}

.stripGrid a {
  color: red;
}

.videoGrid{
  margin: 1em 0;
  display: grid;
  height: auto;
  grid-template-columns: 20% 27.5% 5% 27.5% 20%;
  grid-template-rows: 15em 2em 9em;
}

.videoDescription{
  font-style: italic;
  font-size: 1em;
  width: 25em;
  text-align: center;
}


.textCanvas {
  height: auto;
  width: 60%;
  margin: auto;
  color: black;
  margin-top: 6em;
}

.textCanvas a {
  color: black;
  text-decoration: none;
}

.fa-envelope {
  color: red;
}


.icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.iconLink {
  display: block;
  color: black;
  text-decoration: none;
  margin: 0 1em;
}

@media only screen and (max-width: 780px){
  .stripGrid {
    height: auto;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 8em auto;
    margin-top: 0.5em;
  }

  .videoGrid{
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 8em auto;
  }

  .videoDescription {
    margin-bottom: 0;
    margin-top: 1em;
    width: auto;
  }

  .textCanvas{
    height: auto;
    width: 80%;
    margin-top: 2em;
  }

  .icons svg {
    font-size: 0.9em;
  }

}

@media only screen and (max-width: 380px){
  .videoGrid {
    grid-template-rows: 10em auto;
  }

}
