.overlap {
  min-height: 20em;
  grid-row: 1 / span 2;
  z-index: 50;
  width: 40em;
  animation: scale-up-center 1.5s ease-in-out both;
}

.right {
    grid-column: 3 / span 2;
}

.left {
  grid-column: 2 / span 2;
}


.scale-up-center {
	        animation: scale-up-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@keyframes scale-up-center {
  0% {
    opacity: 0;
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
            transform: scale(1);
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1300px){
  .overlap{
    width: 30em;
  }

  .videoDescription{
    width: 20em;
  }
}



@media only screen and (min-width: 900px) and (max-width: 1100px){
  .overlap{
    width: 25em;
  }

  .videoDescription{
    width: 15em;
  }
}




@media only screen and (max-width: 900px){
  .overlap {
    width: auto;
    min-height: auto;
  }

  .right {
      grid-column: 1 / span 3;
      grid-row: 2 / span 1;
      justify-self: center;
  }

  .left {
    grid-column: 1 / span 3;
          grid-row: 2 / span 1;
      justify-self: center;
  }
}
