@import url('https://fonts.googleapis.com/css?family=IM+Fell+English|Yrsa');
@import url('https://fonts.googleapis.com/css?family=Mukta');


.container {
  display: flex;
  max-width: 100%;
    background-color: black;
  justify-content: space-between;
    align-items: center;
  height: 8em;
  border-bottom: 1px solid red;
}

.linksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 2em;
}

.linksContainer ul {
  margin: 0;
}


.linksContainer ul li {
  list-style: none;
  display: inline-block;
  text-decoration: none;
  padding: 1em;
  color: white;
  height: 100%;
    font-size: 1.2em;
  text-align: center;
}

.linksContainer ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: 'Mukta', serif;
}

.linksContainer ul li a:hover {
  color: red;
}

.logoContainer {
  width: 10em;
  padding: 1.5em;
}

.logoContainer img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0;
}
